<div class="bodyDiv">
  <div class="embedVid">
   <iframe src="https://player.vimeo.com/video/575360988?h=121b5ccfa8&byline=0&portrait=0" width="1162" height="648" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="credits">
      <p>CLIENT: MONSTER ENERGY</p>
      <br>
      <p>DIRECTOR: SYBREN PLANTING, STEIJN LEIJZER</p>
      <p>CAMERA OPERATORS: SYBREN PLANTING, STEIJN LEIJZER</p>
      <p>ADDITIONAL CAMERA OPERATORS: JOEK TEMPELAARS, CAS VELTHUIS</p>
      <p>SOUND RECORDING: JASON DEGRAW, ROBIN KALSBEEK, PAUL VERHALLEN, MAX OOSTVEEN</p>
      <p>EDITOR: CAS VELTHUIS</p>
      <p>SOUND MIX: HACIENDA FILMS</p>
      <p>GRADING: GIOVANNI DE DEUGD</p>
    </div>
    <div class="stills">
      <div class="still">
          <%= image_tag "glennc-still.png", class: "still", title: "glennc" %>
       </div>

        <div class="still">
          <%= image_tag "glennc-still2.png", class: "still", title: "glennc2" %>
        </div>

        <div class="still">
          <%= image_tag "glennc-still3.png", class: "still", title: "glennc3" %>
        </div>

        <div class="still">
          <%= image_tag "glennc-still4.png", class: "still", title: "glennc4" %>
        </div>

        <div class="still">
          <%= image_tag "glennc-still5.png", class: "still", title: "glennc5" %>
        </div>
        <div class="still">
          <%= image_tag "glennc-still6.png", class: "still", title: "glennc6" %>
        </div>
      </div>
  </div>
</div>
