<div class="container">

  <div class="tiles">
    <%= link_to tom_path do %>
      <%= image_tag "tomvb.png", class: "imgTile", title: "Tom Van Den Bogaard - Redemption" %>
    <% end %>
  </div>

  <div class="tiles">
    <%= link_to glennc_path do %>
      <%= image_tag "glennc.png", class: "imgTile", title: "Glenn Coldenhoff - Giving Back" %>
    <% end %>
  </div>

  <div class="tiles">
    <%= link_to isabel_path do %>
      <%= image_tag "isabel.png", class: "imgTile", title: "Dylan Van Dam - Isabel (Music Video)" %>
    <% end %>
  </div>

  <div class="tiles">
    <%= link_to opdruq_path do %>
      <%= image_tag "OPDRUQ.png", class: "imgTile", title: "OPDRUQ" %>
    <% end %>
  </div>

  <div class="tiles">
    <%= link_to bok2019_path do %>
      <%= image_tag "bok2019.png", class: "imgTile", title: "Onwies Knallen BMX - BOK 2019" %>
    <% end %>
  </div>

  <div class="tiles">
    <%= link_to tomvdbmonsterenergy_path do %>
      <%= image_tag "tomvdbmonsterenergy.png", class: "imgTile", title: "Tom Van Den Bogaard Monster Energy" %>
    <% end %>
  </div>

  <div class="tiles">
    <%= link_to vinkkunststoffen_path do %>
      <%= image_tag "vinkkunststoffen.png", class: "imgTile", title: "Vink Kunstoffen" %>
    <% end %>
  </div>

  <div class="tiles">
    <%= link_to nalu_path do %>
      <%= image_tag "nalu.png", class: "imgTile", title: "Nalu - Lost Frequenties BTS" %>
    <% end %>
  </div>

</div>
